@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<body style="background-color:lightgrey;">
<h1 style="text-align:center;">@ViewData["Title"]</h1>

<p style="margin-top:10%;">
    This privacy notice for Rocks Galore describes how and why we might collect, store, use, and/or share your information when you use our services , such as when you:
    <br />
    Visit our website <br />
    Engage with us in other related ways.<br />
    <br />
    Questions or concerns? Reading this privacy notice will help you understand your privacy rights and choices. If you still have any questions or concerns, please contact us at RocksGalore@rocksgalore.com.
</p>
</body>