@page
@model PDMasterDetail.Pages.Cayce.EditModel

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/Cayce.css" />
<h1>Edit</h1>

<h4>Rock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RockClass.Id" />
            <div class="form-group">
                <label asp-for="RockClass.Name" class="control-label"></label>
                <input asp-for="RockClass.Name" class="form-control" />
                <span asp-validation-for="RockClass.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RockClass.Type" class="control-label"></label>
                <input asp-for="RockClass.Type" class="form-control" />
                <span asp-validation-for="RockClass.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RockClass.Color" class="control-label"></label>
                <input asp-for="RockClass.Color" class="form-control" />
                <span asp-validation-for="RockClass.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RockClass.Location" class="control-label"></label>
                <input asp-for="RockClass.Location" class="form-control" />
                <span asp-validation-for="RockClass.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RockClass.Hardness" class="control-label"></label>
                <input asp-for="RockClass.Hardness" class="form-control" />
                <span asp-validation-for="RockClass.Hardness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" style="color: white;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
