@page
@model PDMasterDetail.Pages.Hannah.CreateModel

@{
    ViewData["Title"] = "Create";
}

<body style="background-color:#955E42; text-align:center;">
    <h1 style="margin-top:10%; margin-bottom:5%;">Rock Database</h1>

<div class="row">
        <div style="background:#553739;width: 60%;margin-left:20%; margin-right:20%;">
            @*submit or cancel buttons*@
            <form method="post">
                    <div class="form-group" style="text-align:center;background-color:#232020;padding:10px;margin-top:2%;">
                        <input type="submit" value="Save" class="btn" style="color:antiquewhite;" />
                    <a asp-page="Index" class="btn" style="color:antiquewhite;text-decoration:none;margin-left:2%;">Cancel</a>
                    </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        @*left float input*@
                <div class="form-group" style="text-align:center; margin-bottom: 3%; margin-left:10%; margin-right:10%; margin-bottom:4%">
                            <p style="text-align:center; font-size: 1.5em; margin-top:4%;color:antiquewhite;">Enter rock data:</p>
                            
                                @*Name*@
                                <label asp-for="RockClass.Name" class="control-label" style="color:antiquewhite; padding-bottom:2px;"></label>
                                <input asp-for="RockClass.Name" class="form-control" />
                                <span asp-validation-for="RockClass.Name" class="text-danger"></span>
                                @*Type*@
                                <label asp-for="RockClass.Type" class="control-label" style="color:antiquewhite; padding-bottom:2px;"></label>
                                <input asp-for="RockClass.Type" class="form-control" />
                                <span asp-validation-for="RockClass.Type" class="text-danger"></span>
                                @*Location*@
                                <label asp-for="RockClass.Location" class="control-label" style="color:antiquewhite; padding-bottom:2px;"></label>
                                <input asp-for="RockClass.Location" class="form-control" />
                                <span asp-validation-for="RockClass.Location" class="text-danger"></span>
                                @*Color*@
                                <label asp-for="RockClass.Color" class="control-label"style="color:antiquewhite; padding-bottom:2px;"></label>
                                <input asp-for="RockClass.Color" class="form-control" />
                                <span asp-validation-for="RockClass.Color" class="text-danger"></span>
                                 @*Hardness*@
                                <label asp-for="RockClass.Hardness" class="control-label"style="color:antiquewhite; padding-bottom:2px;"></label>
                                <input asp-for="RockClass.Hardness" class="form-control" />
                                <span asp-validation-for="RockClass.Hardness" class="text-danger"></span>
                                
                        </div>  
            </form>
    </div>
</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
