@page
@model PDMasterDetail.Pages.Hannah.IndexModel

@{
    ViewData["Title"] = "Index";
}
<body style="background-color:#955E42; margin-bottom:10%;">
    <h1 style="text-align:center; padding-top: 5%; margin-bottom:5%;">Rock Database</h1>
<form>
    <p style="text-align:center;">
        <select asp-for="RockType" asp-items="Model.Type">
            <option value="">All</option>
        </select>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<form>
        <p style="text-align:center;background-color:#232020;padding:10px;width: 60%;margin-left:20%;">
    <a asp-page="Create" 
                style="color:antiquewhite;padding:10px;text-decoration:none;margin:10px;">
       Add Rock Data
   </a>
    <a asp-page="./Index" asp-route-sortOrder="desc"
               style="color:antiquewhite;padding:10px;text-decoration:none;margin:10px;">
        Sort by Name (desc)
    </a>
    <a asp-page="./Index" asp-route-sortOrder="asc"
               style="color: antiquewhite; padding: 10px;text-decoration:none;margin:10px;">
        Sort by Name (asc)
    </a>
</p>
</form>
@foreach (var item in Model.Rock)
{
    <table class="table table-responsive-sm table-borderless" style="width: 60%;margin-left:20%; align-content:center;">
        <tbody>
            <tr>
                    <td class="col-sm-4" style="font-size:1.5em;padding-left:5%;background:#553739;color:antiquewhite;padding:10px;">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                    <td class="col-sm-2" style="text-align:center;padding-left:5%;background:#553739;color:antiquewhite;padding:10px;">
                        <a style="color:antiquewhite" asp-page="./Details" asp-route-id="@item.Id">View</a>
                </td>
                    <td class="col-sm-2" style="text-align:center;padding-left:5%;background:#553739;color:antiquewhite;padding:10px;">
                        <a style="color:antiquewhite" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                    <td class="col-sm-2" style="text-align:center;padding-right:5%;padding-left:5%;background:#553739;color:antiquewhite;padding:10px;">
                        <a style="color:antiquewhite" asp-page="./Edit" asp-route-id="@item.Id">Update</a>
                </td>
            </tr>
        </tbody>
    </table>
}
</body>